<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% load static %}
<nav style="background-color: #19caaf">
  <div class="nav-wrapper">
  <div class="container">
        <div class="row">
        <div class="col-md-2">
          <a href="/" class="left">Neighborhood</a>
        </div>

      <div class="col-md-2">
      <ul>
        <li><a href="{% url 'businesses' %}">Businesses</a></li>
      </ul>
      </div>

      <div class="col-md-5">
      <ul>
          <li><form class="" action="{% url 'search' %}">
            <div id="custom-search-input">
                  <div class="input-group">
                      <input id="search" type="text" class="form-control input-lg" placeholder="Search business" name="search" />
                  </div>
              </div>
        </form></li>
      </ul>
      </div>

      <div class="col-md-3">
      <ul>
      <li>
      <a  href="{% url 'edit_profile' user.username %}" >Profile</a></li>
      </ul>
      <ul>
      <li>
      <a href="/logout" >logout</a></li>
      </ul>
      </div>
      </div>
   </div>   
  </div>
</nav>
</body>
</html>
